#calc {
    background: #fff9c0;
    box-shadow: 5px 5px 10px #dbcf5b, -5px -5px 10px #ffffff;
}

.root {
    width: 21rem;
    height: 25rem;
    padding: 1.6rem;
    margin: 7rem;
    border-radius: 36px;
    background: #f6f6f8;
    box-shadow: 41px 41px 82px #cfcfd0, -41px -41px 82px #ffffff;
}
body {
    background-color: #edf0f1;
}
.title {
      display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title-1{
    margin-bottom: 10px;
    text-align: center;
    width: 210px;
    color: white;
    background-color: black;
    border: saddlebrown 2px;
    font-size: 26px;
    border-radius: 7px;

}
input[type="button"] {
    border-radius: 101px;
    background: #f6f6f8;
    box-shadow: 5px 5px 10px #d8d8da, -5px -5px 10px #ffffff;
    height: 3rem;
    border: white 2px;
    font-size: 1rem;
    font-weight: 500;
    color: #486e84;
    width: 100%;
}
input[type="text"] {
    background-color: #f6f6f8;
    color: black;
    height: 6rem;
    text-align: center;
    color: #486e84;
    font-size: 3rem;
    border: solid black 0px;
    width: 95%;
}

.input {
    height: 1rem;
    width: 3rem;
    padding: 0.6rem 0.4rem 0 0.5rem;
}
*,
*:focus,
*:hover {
    outline: none;
}
